@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16;
    text-decoration: none;
}

button {
    color: #ffffff
}

.img {
    width: 100px;
    height: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    size-adjust: 10px 10px;
}

.nav_links {
    list-style: none;
}

.nav_links li a {
    display: inline-block;
    padding: 0px 20px;
    color: #000000;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
    font-size: larger;
}