@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

button {
    color: #ffffff
}

.img {
    width: 100px;
    height: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    size-adjust: 10px 10px;
}

.nav_links {
    list-style: none;
}

.light{
    text-decoration: none;
    color: #000000;
}

/* .light:hover {
    transition: all 0.3s ease 0s;
    font-size: larger;
} */

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    font-size: larger;
}