@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: none;
}

.eye{
    width: 30px;
    height: 30px;
    text-align: center;
}

.eye:hover {
    cursor: pointer;
}

.second{
    background-image: url("../images/Long-Butler-09.webp");
}

.text {
    color: #fff;
}

.text:hover {
    color: #0088a9;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px;
}

#forgor {
    color: #fff;
}

#forgor:hover {
    color: #0088a9;
}

.input-box input{
    width: 75%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(225, 225, 225, .2);
    border-radius: 40px;
    text-align: center;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: transparent;
}

.remember {
    margin: 10px;
    text-align: center;
    color: #fff;
}

.btndiv{
    text-align: center;
}

.btn{
    margin: 15px;
    text-align: center;
    color: #fff;
}

.register{
    text-align: center;
}

.logo {
    size-adjust: 10px 10px;
    text-align: center;
}